*{
    margin: 0;
    padding: 0;
}
@import url('https://fonts.googleapis.com/css2?family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&display=swap');


.inter-font {
  font-family: "Inter", sans-serif;
  font-optical-sizing: auto;
}

/* Shared styles */
.gradiant-bg{
    background: linear-gradient(45deg, rgba(247, 233, 63, 1) 0%, rgba(251, 9, 180, 1) 51%, rgba(145, 0, 248, 1) 100%);
}
.gradiant-color{
     background: linear-gradient(45deg, rgba(247, 233, 63, 1) 0%, rgba(251, 9, 180, 1) 51%, rgba(145, 0, 248, 1) 100%);
     -webkit-background-clip: text;
     -webkit-text-fill-color: transparent;
}
.btn{
    padding: 12px 16px;
    border: none;
    border-radius: 10000px;
    color: #FFFFFF;
    background: linear-gradient(45deg, rgba(247, 233, 63, 1) 0%, rgba(251, 9, 180, 1) 51%, rgba(145, 0, 248, 1) 100%);
    cursor: pointer;

}

.section-title{
    font-size: 3rem;
    color: #FFFFFF;
    font-weight: 700;
    margin-bottom: 16px;
}
.section-description{
    font-size: 1rem;
    line-height: 20px;
    color: #FFFFFF;
    opacity: 80%;
    margin-bottom: 16px;

}
.big-gap{
    margin-bottom: 50px;
}

/* Main styles */
header{
    background-color: #1A0B2E;
    border: 1px solid #412567;
    padding-top: 16px;
    padding-bottom: 16px;
}
nav{
    display: flex;
    justify-content: space-around;
    text-align: center;
    align-items: center;
}
ul{
    display: flex;
    gap: 32px;
    list-style: none;
}
ul a{
    text-decoration: none;
}

nav h2{
    color: white;
    font-size: 2.5rem;
}

nav ul li a{
    color: #FFFFFF;
    line-height: 120%;
    font-size: 1rem;
    font-weight: 500;
    opacity: 90%;
}
nav #hidden{
    display: none;
}

#banner{
    background: url("assets/hero-bg.png");
    background-repeat: no-repeat;
    background-size: cover;
    width: 100%;
    /* background-position: center; */
    padding-top: 101px;
    padding-bottom: 101px;

}
.banner-images{
    position: relative;
    display: flex;
    display: flex;
    justify-content: center;
    margin-bottom: 40px;
}
.banner-images #circle{
    object-fit: contain;
}
.banner-images #mic{
    position: absolute;
    transform: translateY(50%);
}
.banner-info{
    justify-items: center;
}

.banner-info h1{
    color: #FFFFFF;
    font-size: 3.75rem;
    font-weight: 900;
    margin-bottom: 8px;

}
.banner-info p{
    font-size: 1rem;
    color: #FFFFFF;
    opacity: 80%;
    margin-bottom: 24px;
}
.banner-btn{
    display: flex;
    gap: 8px;

}
.banner-btn .btn{
    display: flex;
    align-items: center;
    gap: 8px;
}
.banner-btn .btn-green{
    border: 1px solid #00FF88;
    background: transparent;
    color: #00FF88;
}

#podcast{
    justify-items: center;
    text-align: center;
    background-color: #1A0B2E;
    padding-top: 50px;
    padding-bottom: 120px;
}
#podcast hr{
    color: #FFFFFF;
    opacity: 10%;
    margin-top: 80px;
    margin-bottom: 80px;
    width: 75%;
}
/* .podcast-info{
    width: 75%;
} */
.card-box{
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    gap: 80px;
    
}
.card-box .card{
    padding: 10px 30px;
    text-align: center;
    justify-content: center;
}
.card .card-heading{
    font-size: 3rem;
    color: #00FF88;
    margin-bottom: 16px;
}
#choose{
    background-color: #230E3D;
    justify-items: center;
    padding-top: 120px;
    padding-bottom: 120px;
}
#choose .section-title{
    margin-bottom: 40px;
}
.box-container .box{
    background-color: rgba(53, 17, 101, 0.4);
    border-radius: 40px;
    padding: 20px;
    align-items: center;
    align-content: center;
}
.box img{
    margin-bottom: 16px;
}
.box h4{
    color: #FFFFFF;
    font-size: 1.5rem;
    margin-bottom: 16px;
}
.box p{
    color: #FFFFFF;
    opacity: 60%;
    font-size: 1rem;
    line-height: 24px;
}
.audio{
    grid-area: audio;
}
.device{
    grid-area: device;
}
.location{
    grid-area: location;
}
.fast{
    grid-area: fast;
}
.resource{
    grid-area: resource;
}
.box-container{
    max-width: 1200px;
    display: grid;
    gap: 30px;
    grid-template-areas: 
    "audio device device"
    "audio location location"
    "fast fast resource"
    ;
}
#featured{
    background-color: #1A0B2E;
    padding-top: 120px;
    padding-bottom: 120px;
    justify-items: center;
}
#featured .section-title{
    margin-bottom: 40px;
}
.feature-container{
    max-width: 1200px;
    display: flex;
    gap: 30px;
    align-items: center;
}
.feature-container .feature-card{
    width: 380px;
    border-radius: 10px;
    background-color: #250D44;
}
.feature-card .feature-info{
    padding: 20px;
}
.feature-container .feature-card iframe{
    width: 100%;
}
.feature-card h3{
    font-size: 1.5rem;
    color: #FFFFFF;
    margin-bottom: 12px;
}
.feature-container .time{
    display: flex;
    gap: 6px;
}
.feature-container .time p{
    color: #00FF88;
    font-size: 1rem;
    line-height: 24px;
    font-weight: 600;
}
#host{
    background-color: #1A0B2E;
    justify-items: center;
    padding-top: 120px;
    padding-bottom: 120px;
}
#host h2{
    margin-bottom: 40px;
}
.host-card{
    display: flex;
    max-width: 1200px;
    gap: 24px;
    justify-content: center;
    align-items: center;
    background-color: rgba(53, 17, 101, 0.4);
    border-radius: 20px;
    padding: 48px 40px;
}

.host-card h3{
    font-size: 1.5rem;
    color: #FFFFFF;
    margin-bottom: 12px;
}
.host-card p{
    opacity: 60%;
}
.host-card .social{
    justify-content: center;
    align-items: center;
    width: 184px;
    display: flex;
    gap: 8px;
    
}
.host-card .social-logo{
    width: 40px;
    height: 40px;
    
}
.host-card .social img{
    border: 1px solid #533C72;
    border-radius: 1000px;
    padding: 10px;
    width: 20px;
    height: auto;
    
    
}
/* Media query */

/* for small device */
@media screen and (max-width: 576px) {
    header{
        padding: 16px 20px;
    }
    nav{
        justify-content: space-between;
    }
    nav ul {
        display: none;
    }
    nav button{
        display: none;
    }
    nav #hidden{
        display: flex;
        width: 24px;
        height: 24px;
    }
    #banner{
        width: 100%;
        padding-bottom: 40px;
    }
    #banner .banner-info p{
        text-align: center;
    }
    #podcast{
        padding-bottom: 40px;
        padding-top: 40px;
    }
    #podcast hr{
        margin-top: 40px;
        margin-bottom: 40px;
    }
    #podcast .card-box{
        grid-template-columns: repeat(2, 1fr);
        gap: 0;
    }
    .podcast-info{
        padding: 0 10px;
    }
    .podcast-info .section-description{
        margin-bottom: 5px;
    }
    .podcast-info .big-gap{
        margin-bottom: 10px;
    }
    #choose{
        padding-top: 40px;
        padding-bottom: 40px;
    }
    #choose .section-title{
        font-size: 32px;
    }
    .box-container{
    display: grid;
    gap: 30px;
    grid-template-areas: 
        "audio"
        "device"
        "location"
        "fast"
        "resource"
        ;
        padding-left: 20px;
        padding-right: 20px;
    }
    #featured{
        padding-top: 40px;
        padding-bottom: 40px;
    }
    .feature-container{
        flex-direction: column;
        gap: 30px;
        align-items: center;
        padding-left: 20px;
        padding-right: 20px;
    }
    .feature-container .feature-card{
        width: 80%;
        
    }
    .feature-card h3{
        margin-bottom: 20px;
    }
    #host{
        padding: 40px 20px;
    }
    .host-card{
        flex-direction: column;
        max-width: 1200px;
        gap: 24px;
        justify-content: center;
        align-items: center;
        text-align: center;
        background-color: rgba(53, 17, 101, 0.4);
        border-radius: 20px;
        padding: 48px 40px;
    }
    .host-card .social{
        justify-items: center;
        align-items: center;
        width: 184px;
        display: flex;
        gap: 8px;
        margin: 0 auto;
    
    }

    
}


/* for medium device */
@media screen and (min-width: 576px) and (max-width: 992px) {
    nav ul{
        gap: 20px;
    }
    #podcast{
        padding-top: 40px;
        padding-bottom: 40px;
    }
    #podcast .card-box{
        grid-template-columns: repeat(2, 1fr);
        gap: 80px;
    }
    .podcast-info{
        padding: 0 20px;
    }
    .podcast-info .section-description{
        margin-bottom: 10px;
    }
    .podcast-info .big-gap{
        margin-bottom: 15px;
    }
    .box-container{
    display: grid;
    gap: 30px;
    grid-template-areas: 
        "audio"
        "device"
        "location"
        "fast"
        "resource"
        ;
        padding-left: 20px;
        padding-right: 20px;
    }
    #featured{
        padding-top: 40px;
        padding-bottom: 40px;
    }
    .feature-container{
        flex-direction: column;
        gap: 20px;
        align-items: center;
        padding-left: 40px;
        padding-right: 40px;
    }
    .feature-container .feature-card{
        width: 100%;
    }
    #host{
        padding: 40px 20px;
    }

}


/* for big devices */
@media screen and (min-width: 992px) {
    nav #hidden{
        display: none;
    }
    .box-container{
        padding-left: 20px;
        padding-right: 20px;
    }
    .feature-container{
        padding-left: 40px;
        padding-right: 40px;
        flex-wrap: wrap;
        justify-content: center;
    }
    #host{
        padding-left: 40px;
        padding-right: 40px;
}
    }