*{
    margin: 0;
    padding: 0;
}
@import url('https://fonts.googleapis.com/css2?family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&display=swap');


.inter-font {
  font-family: "Inter", sans-serif;
  font-optical-sizing: auto;
}

/* Shared styles */
.gradiant-bg{
    background: linear-gradient(45deg, rgba(247, 233, 63, 1) 0%, rgba(251, 9, 180, 1) 51%, rgba(145, 0, 248, 1) 100%);
}
.gradiant-color{
     background: linear-gradient(45deg, rgba(247, 233, 63, 1) 0%, rgba(251, 9, 180, 1) 51%, rgba(145, 0, 248, 1) 100%);
     -webkit-background-clip: text;
     -webkit-text-fill-color: transparent;
}
.btn{
    padding: 12px 16px;
    border: none;
    border-radius: 10000px;
    color: #FFFFFF;
    background: linear-gradient(45deg, rgba(247, 233, 63, 1) 0%, rgba(251, 9, 180, 1) 51%, rgba(145, 0, 248, 1) 100%);

}
/* Main styles */
header{
    background-color: #1A0B2E;
    border: 1px solid #412567;
    padding-top: 16px;
    padding-bottom: 16px;
}
nav{
    display: flex;
    justify-content: space-around;
    text-align: center;
    align-items: center;
}
ul{
    display: flex;
    gap: 32px;
    list-style: none;
}
ul a{
    text-decoration: none;
}

nav h2{
    color: white;
    font-size: 2.5rem;
}

nav ul li a{
    color: #FFFFFF;
    line-height: 120%;
    font-size: 1rem;
    font-weight: 500;
    opacity: 90%;
}
nav #hidden{
    display: none;
}


/* Media query */

/* for small device */
@media screen and (max-width: 576px) {
    header{
        padding: 16px 20px;
    }
    nav{
        justify-content: space-between;
    }
    nav ul {
        display: none;
    }
    nav button{
        display: none;
    }
    nav #hidden{
        display: flex;
        width: 24px;
        height: 24px;
    }
    
}


/* for medium device */
@media screen and (min-width: 576px) and (max-width: 992px) {
    nav ul{
        gap: 20px;
    }
}


/* for big devices */
@media screen and (min-width: 992px) {
    nav #hidden{
        display: none;
    }
}